<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^register$ register.php [QSA,L]
    RewriteRule ^charityCreate$ charityCreate.php [QSA,L]
    RewriteRule ^charities$ charities.php [QSA,L]
    RewriteRule ^charityDelete$ charityDelete.php [QSA,L]

    RewriteRule ^login$ login.php [QSA,L]
    RewriteRule ^campaignCreate$ campaignCreate.php [QSA,L]
    RewriteRule ^campaigns$ campaigns.php [QSA,L]
    RewriteRule ^campaignDelete$ campaignDelete.php [QSA,L]
    RewriteRule ^campaignUpdate$ campaignUpdate.php [QSA,L]
    RewriteRule ^charityApproveReject$ charityApproveReject.php [QSA,L]
    RewriteRule ^charitySuspend$ suspendcharity.php [QSA,L]
    RewriteRule ^campaignSuspend$ suspendCampaign.php [QSA,L]



    








</IfModule>
